.container {
    background-color: rgba(255, 246, 235);
    width: 180vh;
    border-radius: 60px;
    margin-top: 80px;
  }

.container2{
  display: flex;
  flex-direction: row;
  margin: 50px;
}



.container-register {
    background-color: rgb(255, 246, 235);
    width: 180vh;
    height: 80vh;
    border-radius: 60px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.input-register {
    width: 500px;
    height: 30px;
    border-color: rgb(255, 174, 93);
    border-radius: 20px;
    outline: none;
    margin: 10px;
  }

.button-register-form {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    background-color: rgb(255,174,93);
    color: white;
    border: none;
}

.button-register:hover {
  cursor: pointer;
  opacity: .8;
}
  
body {
    background-color: rgb(255, 227, 196);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
a {
    text-decoration: none;
    color: rgb(60, 58, 56);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
  }
  
.menu-bar {
    width: 400px;
    height: 50px;
    display: flex; 
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px black; */
  
  }
  
.logo-bar {
    left: 120px;
    font-size: 24px;
    margin: 20px;
    position: absolute;
}

.header-box-shadow:hover{
    border-radius: 5px;
    transition: 0.3s all linear;
    box-shadow: 0px 4px 5px 0px rgb(255, 174, 93);
    transform: translateY(-2px);
}
  
.orange {
    color:rgb(255, 174, 93);
  }



.h1-register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}
  
  
  
  